@(message: String)

@Main("Home") {

    <div class = "container">
        <div class="row">
            <div class ="col-xs-3">
                <div class="well">
                    <p>Information</p>
                    <ul>
                        <li>About Us</li>
                        <li>Administration</li>
                        <li>Athletics</li>
                        <li>Bell Schedule</li>
                        <li>Calendar</li>
                        <li>Counselors</li>
                        <li>Daily Bulletin</li>
                        <li>Directories</li>
                        <li>Knightly News</li>
                        <li>Library</li>
                        <li>Lunch Menu</li>
                        <li>Small Learning Communities</li>
                    </ul>
                </div>
            </div>


            <div class ="col-xs-9">
                <div class="well">
                    <p>Alumni and Friends</p>
                    <p>Welcome Castle High School Alumni and Friends!

                        Transcript Request Form

                        Wish List from Faculty and Staff

                        Castle Alumni T-Shirts

                        Please use this page to find out about upcoming class reunions. If you would like to add or update information on this page, please email the Webmaster. Thank-you!
                    </p>
                </div>
            </div>
        </div>
    </div>

}