@(message: String)

@Main("Home") {

    <div class = "container">
        <div class="row">
            <div class ="col-xs-3">
                <div class="well">
                    <p>Information</p>
                    <ul>
                        <li>About Us</li>
                        <li>Administration</li>
                        <li>Athletics</li>
                        <li>Bell Schedule</li>
                        <li>Calendar</li>
                        <li>Counselors</li>
                        <li>Daily Bulletin</li>
                        <li>Directories</li>
                        <li>Knightly News</li>
                        <li>Library</li>
                        <li>Lunch Menu</li>
                        <li>Small Learning Communities</li>
                    </ul>
                </div>
            </div>


            <div class ="col-xs-9">
                <div class="well">
                    <p>Contact Us</p>
                    <p>General Information
                        45-386 Kaneohe Bay Drive
                        Kaneohe, HI 96744

                        Front Office: (808) 233-5600

                        School Fax Number: (808) 233-5623

                        Webmaster: Makee_Tano at notes.k12.hi.us
                    </p>
                </div>
            </div>
        </div>
    </div>

}