@(message: String)

@Main("Home") {

    <div class = "container">
        <div class="row">
            <div class ="col-xs-3">
                <div class="well">
                    <p>Information</p>
                    <ul>
                        <li>About Us</li>
                        <li>Administration</li>
                        <li>Athletics</li>
                        <li>Bell Schedule</li>
                        <li>Calendar</li>
                        <li>Counselors</li>
                        <li>Daily Bulletin</li>
                        <li>Directories</li>
                        <li>Knightly News</li>
                        <li>Library</li>
                        <li>Lunch Menu</li>
                        <li>Small Learning Communities</li>
                    </ul>
                </div>
            </div>


            <div class ="col-xs-9">
                <div class="well">
                    <p>Students and Parents</p>
                    <p>Knights occupied a special place in European history and literature. When people today hear the word "knight," many think of the days of King Arthur, Camelot and his famous Knights of the Round Table, when CHARACTER, COMMITMENT AND COMPETENCE were valued above all else. You are now a Castle High School KNIGHT and therefore expected to conduct yourselves accordingly.
                    </p>
                    <ul>
                        <li>Accreditation</li>
                        <li>Attendance Policy</li>
                        <li>Band</li>
                        <li>Chapter 19</li>
                        <li>Clubs</li>
                        <li>CPAC</li>
                        <li>Career and Technical Education (CTE) </li>
                        <li>College and Career </li>
                        <li>Dress Code </li>
                        <li>E-Bulletin </li>
                        <li>Family Educational Rights and Privacy Act (FERPA)</li>
                        <li>Free and Reduced-Price Meal Benefits </li>
                        <li>Grading Policy</li>
                        <li>Graduation</li>
                        <li>Health Room</li>
                        <li>Jupiter Grades</li>
                        <li>Knightly News</li>
                        <li>Knights Student Association</li>
                        <li>McKinney-Vento Homeless Assistance Act (MVA)</li>
                        <li>Na Pali 'O Ko'olau (Newspaper) </li>
                        <li>Parent Community Network Center (PCNC) </li>
                        <li>Personal Transition Plan (Senior Portfolio)</li>
                        <li>Project Graduation</li>
                        <li>Qualifications of your Child's Teachers </li>
                        <li>Registrar Office (Registration,Transcripts, Grades) </li>
                        <li>School Bus Transportation Services </li>
                        <li>School Community Council (SCC) Meeting Documents </li>
                        <li>School Fees</li>
                        <li>Senior Project</li>
                        <li>Small Learning Communities (SLCs)</li>
                        <li>Strive HI Performance System (Hawaii’s New School Accountability & Improvement System)</li>
                        <li>Student Activities</li>
                        <li>Summer Bridge</li>
                        <li>Tardy Policy</li>
                        <li>Wish List</li>
                        <li>Yearbook</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

}